/* App-wide styling */
textarea {
    resize: none;
    color: #ffffff;
    tab-size: 4; 
    overflow:hidden;
}

input, button, textarea, pre{
    border-radius: 4px;
    border: 1px solid transparent;
    color: #242424;
    font-family: inherit;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

pre {
    font-size: 12px;
    line-height: 14px; 
}

hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px dotted #aaaaaa;
}

dialog{
    border-color:rgb(219, 219, 219);
}

input:disabled, button:disabled, textarea:disabled{
    opacity: 30%;
}

button:hover, textarea:hover, input:hover {
    border-color: #396cd8;
}

img:hover{
    filter: brightness(1.10);
}

img:active{
    filter: brightness(0.5);
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

span{
    background-color: rgb(0, 255, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
        color-scheme: dark;
    }
    a {
        color:rgb(26, 156, 170);
    }
    a:hover {
        color: #24c8db;
    }
    hr {
        border-top: 1px dotted rgb(94, 94, 94);
    }
    input, textarea, dialog, pre{
        color:  #ffffff;
        background-color: #202020;
    }
    dialog{
        border-color:rgb(56, 56, 56);
    }
    button{
        color: #ffffff;
        background-color: #0f0f0f;
    }
    button:active {
        background-color: #0f0f0f00;
    }
    
    span{
        background-color: rgb(0, 207, 59);
    }

}



